<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      ng-cloak class="ng-cloak"
      ng-app="myApp" ng-controller="myCtl" lang="en" ng-strict-di>
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>your_title</title>

    <!-- styles -->
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"
          rel="stylesheet"/>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <script src="script/app.js"></script>
    <link href="styles/main.css" rel="stylesheet"/>
</head>
<body>
<div class="website-header">
    <div class="logo"></div>
</div>
<div class="md-padding" data-layout="column">
    <h1>Hey Jack, here's a quick starter page for you.</h1>
    <md-input-container>
        <label>Your name</label> <input name="username" data-ng-model="user.name" type="text">
        <!-- the 'data-ng-model' attribute tells it what variable to follow -->
    </md-input-container>
    <div>
        <p data-ng-if="user.name">Hello there, {{user.name}}</p>
        <!-- the data-ng-if means it won't show up if there isn't a user.name set -->
        <!-- the double brace tells angular to insert the variable contents into the page -->
    </div>

    <div data-layout="column" data-layout-gt-xs="row">
        <md-input-container flex>
            <label>Width (cm)</label> <input name="width" data-ng-model="room.width" data-ng-change="calculate()"
                                            type="number">
            <!-- the 'data-ng-model' attribute tells it what variable to follow -->
        </md-input-container>
        <md-input-container flex>
            <label>Height (m)</label> <input name="height" data-ng-model="room.height" data-ng-change="calculate()"
                                             type="number">
            <!-- the 'data-ng-model' attribute tells it what variable to follow -->
        </md-input-container>


        <md-input-container flex>
            <label>Number of standard single doors</label>
            <md-select ng-model="room.doors" data-ng-change="calculate()">
                <md-option ng-repeat="d in ux.doors" data-ng-value="d.value">
                    {{d.label}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div>
        <md-slider-container>
            <span>Width (cms)</span>
            <md-slider flex min="{{ux.min_wall_length}}" max="{{ux.max_wall_length}}" data-ng-model="room.width"
                       aria-label="room width"
                       id="room_width">
            </md-slider>
            <md-input-container>
                <input flex type="number" data-ng-model="room.width" aria-label="room width" aria-controls="room_width">
            </md-input-container>
        </md-slider-container>
    </div>

    <div data-layout="row">
        <md-input-container flex>
            <label>Number of coats (Manufacturer's recommendation is usually 2)</label> <input name="number_of_coats"
                                                                                               data-ng-model="paint.number_of_coats"
                                                                                               data-ng-change="calculate()"
                                                                                               type="number">
        </md-input-container>

    </div>
    <div data-layout="column" data-ng-if="room.area">
        <p>Your wall measuring {{room.height}}m x {{room.width / 100}}m is {{room.area}}sqm.
        </p>
        <p>This will require {{room.tins}} {{paint.tin_size}}lt tins.
        </p>
    </div>
    <p data-ng-repeat="p in paints">
        {{p.manufacturer}} big tin size is {{p.big_tin_size}}
    </p>

</div>
</body>
</html>
