<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      ng-cloak class="ng-cloak"
      ng-app="myApp" ng-controller="myCtl" lang="en" ng-strict-di>
<head>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Experiments</title>

    <!-- styles -->
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"
          rel="stylesheet"/>

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Arimo:700,400,700italic,400italic|Karla:400,400italic,700italic,700'
          rel='stylesheet' type='text/css'>
    <script src="script/app.js"></script>
    <link href="styles/main.css" rel="stylesheet"/>
</head>
<body>
<div class="website-header">
    <div class="logo"></div>
</div>
<div class="md-padding" data-layout="column">
    <h1>Jack's Paint Estimator</h1>
    <p>Type your instructions here...</p>

    <!-- start the form -->
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Wall</span> <span
                    class="md-subhead">Tell us about the wall you want to paint</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div data-layout="column" data-layout-gt-xs="row">

                <md-slider-container flex>
                    <span>Width
                        <span data-hide data-show-gt-xs>(cms)</span>
                        <small data-hide data-show-xs>{{room.width / 100}}m</small>
                    </span>
                    <md-slider flex min="{{ux.min_wall_length}}" max="{{ux.max_wall_length}}" data-ng-model="room.wall_width"
                               aria-label="room width" data-ng-change="calculate()"
                               id="room_width">
                    </md-slider>
                    <md-input-container data-hide data-show-gt-xs>
                        <input flex type="number" data-ng-model="room.wall_width" aria-label="room width"
                               aria-controls="room_width">
                    </md-input-container>
                </md-slider-container>

                <md-input-container flex>
                    <label>Height (m)</label> <input name="height" data-ng-model="room.wall_height"
                                                     data-ng-change="calculate()"
                                                     type="number">
                    <!-- the 'data-ng-model' attribute tells it what variable to follow -->
                </md-input-container>
            </div>
            <div data-layout="column" data-layout-gt-xs="row">
                <md-input-container flex>
                    <label>Number of standard single doors</label>
                    <md-select ng-model="room.doors" data-ng-change="calculate()">
                        <md-option ng-repeat="d in ux.doors" data-ng-value="d.value">
                            {{d.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>Number of windows</label>
                    <md-select ng-model="room.windows" data-ng-change="calculate()">
                        <md-option ng-repeat="d in ux.doors" data-ng-value="d.value">
                            {{d.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Your Paint selection</span> <span class="md-subhead">Choose a paint range to see your calculation</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div data-layout="row">
                <md-input-container flex>
                    <label>Choose a paint</label>
                    <md-select ng-model="user.selected_paint" data-ng-change="calculate()">
                        <md-option ng-repeat="p in ux.paints" data-ng-value="p">
                            {{p.manufacturer}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex>
                    <label>Manufacturer's recommended number of coats</label> <input name="number_of_coats"
                                                                                     data-ng-model="user.selected_paint.recommended_coats"
                                                                                     data-ng-change="calculate()"
                                                                                     type="number">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>

    <md-card data-ng-if="room.wall_area">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Your results</span> <span
                    class="md-subhead">Please remember all walls vary</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div data-layout="column" data-ng-if="room.wall_area">
                <p>Your wall measuring {{room.wall_height}}m x {{room.wall_width / 100}}m is {{room.wall_area}}sqm.
                </p>
                <p>This will require {{room.tins}} {{paint.tin_size}}lt tins. test {{room.wall_area}}
                </p>
            </div>
        </md-card-content>
    </md-card>
</div>

<section data-layout="column" class="md-padding">
    <h3>Example stuff</h3>
    <p data-ng-repeat="p in paints">
        {{p.manufacturer}} big tin size is {{p.big_tin_size}}
    </p>
    <p>
        You have chosen {{user.selected_paint.manufacturer}} which has a price bracket of
        {{user.selected_paint.price_bracket}} and covers {{user.selected_paint.coverage_per_l}} sqm per litre.
        {{user.selected_paint.manufacturer}} recommends you apply {{user.selected_paint.recommended_coats}} coats.
    </p>
    <p>You could feed those directly into the calculation using $scope.user.selected_paint.recommended_coats</p>
</section>

<section class="md-padding">
    <h1>FAQs</h1>
    <div data-ng-repeat="f in ux.faqs">
        <h3>{{f.prompt}}</h3>
        <div>{{f.answer}}</div>
        <hr/>
    </div>
</section>
</body>
</html>
